{% extends 'base.html.twig' %}

{% block title %}Mon Profile
{% endblock %}

{% block body %}

	<div class="block mb-20">
		<h2 class="pb-30">Page de profile</h2>
		{{form_start(form)}}
		{{form_rest(form)}}
		<button class="btn btn-primary mr-10">Mettre à jour</button>
		{{form_end(form)}}
	</div>

{% endblock %}
